* {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: Arial, serif;
}

.TMALLred {
    color: #FF0036!important;
}

.top-nav {
    width: 100%;
    height: 30px;
    overflow: hidden;
    background-color: #F2F2F2;
    border-bottom: 1px solid #E7E7E7;
}
a {
    color: #999999;
    text-decoration: none;
}

a:hover {
    color: #FF0036;
}


.top-nav-left li {
    color: #999999;
}


.top-nav img {
    vertical-align: middle;
    margin-right: 10px;
}

.top-nav li {
     display: inline-block;
     height: 30px;
     line-height: 30px;
     margin: 0 10px;
     list-style-type: none;
 }

.top-nav-right li {
    float: right;
}

.top-nav-left li {
    float: left;
}

.top-search {
    position: relative;
    width: 1200px;
    height: 130px;
    margin: 0 auto;
}

.logo {
    float: left;
}
.search {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 504px;
    height: 60px;
}

.search-box {
    width: 502px;
    height: 40px;
    padding: 1px;
    background-color: #FF0036;
}

.search-text {
    margin-top: 5px;
    margin-left: -23px;
 }

.search-text a {
    display: inline-block;
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}



.search-text span {
    color: #999999;
}

.search input {
    width: 375px;
    height: 36px;
    margin: 1px;
    border: 1px solid transparent;
    padding-left: 5px;
    outline: none;
}

.search-btn {
    width: 110px;
    font-size: 20px;
    font-family: "Microsoft YaHei UI", serif;
    background-color: #FF0036;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
    outline: none;
}

.search-btn:hover {
    cursor: pointer;
}

.search-btn:active {
    padding-left: 1px;
}

.top-simsearch {
    width: 1200px;
    height: 40px;
    margin: 0 auto;
}

.simplelogo {
    float: left;
    margin-top: 10px;
}

.simsearch {
    float: right;
    margin-top: 5px;
}

.simsearch-box {
    background-color: #FF0036;
    padding: 1px;
}
.simsearch input {
    width: 225px;
    height: 30px;
    margin: 1px;
    padding-left: 3px;
    outline: none;
    border: 1px solid transparent;
}

.simsearch-btn {
    width: 60px;
    border: 1px solid transparent;
    background-color: #FF0036;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.simsearch-btn:hover {
    cursor: pointer;
}

.simsearch-btn:active {
    padding-left: 1px;
}

.simsearch-text {
    margin-top: 5px;
    margin-left: -12px;
}

.simsearch-text a {
    display: inline-block;
    width: 60px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}



.simsearch-text span {
    color: #999999;
}

.footer {
    width: 1000px;
    margin: 0 auto;
}

.footer-ensure {
    text-align: center;
    border-top: 1px solid #E7E7E7;
}

.footer-desc {
    padding-left: 30px;
    padding-top: 30px;
    border-top: 1px solid #E7E7E7;
}
.footer-desc li {
    list-style-type: none;
}
.footer-desc ul li {
    float: left;
    width: 20%;
    font-size: 16px;
    font-weight: bold;
    color: #646464;
}

.footer-desc ul li ul li {
    width: 200px;
}
.footer-desc ul li ul {
    margin-top: 5px;
    margin-left: 2px;
}
.footer-desc ul li ul li a {
    font-weight: normal;
}

.footer-copy {
    float: left;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #E7E7E7;
}

.footer-copy img.cat {
    display: block;
    margin-left: 20px;
}
.copyright {
    padding: 10px;
    background-color: black;
    border-top: 2px solid #FF0036;
}
.copyright-top, .copyright-mid, .copyright-bottom {
    margin: 10px 0;
    line-height: 17px;
}
.copyright-top a, .copyright-mid a {
    padding: 0 10px;
}
.copyright-top a, .copyright-mid a, .copyright-mid span {
    color: white;
}
.copyright-top a:hover, .copyright-mid a:hover {
    text-decoration: underline;
}

.copyright-bottom span {
    color: #A4A4A4;
}

.copyright-bottom .copyRightYear {
    margin: 10px 0;
    color: #686868;
}

.warp {
    width: 100%;
    margin: 10px 0;
}
.warp-head {
    position: relative;
    background-color: #E8E8E8;
}
.headbar {
    width: 100%;
    height: 36px;
    background-color: #FF0036;
    overflow: hidden;
}

.headbar .mainmenu, .headbar .right-menu {
    float: left;
}

.headbar .mainmenu {
    margin-left: 120px;
    padding-left: 20px;
    width: 170px;
    height: 36px;
    line-height: 36px;
    background-color: #C60A0A;
}
.headbar .mainmenu img {
    vertical-align: middle;
}
.headbar .mainmenu span {
    margin-left: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}

.slide {
    position: relative;
    width: 1180px;
    height: 500px;
    overflow: hidden;
    margin:0 auto;
}

.right-menu img {
    display: inline-block;
    width: 90px;
    margin: 0 20px;
}

.right-menu a {
    display: inline-block;
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: white;
    padding: 0 20px;
    font-weight: bold;
}
.pic {
    position: absolute;
    left: -1180px;
    width: 7170px;
    z-index: 1;
}
.pic li {
    float: left;
    list-style-type: none;
}

.slide-btn {
    position: absolute;
    top: 470px;
    left: 537px;
    z-index: 4;
}
.slide-btn span {
    display: inline-block;
    float: left;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.slide-btn span.on {
    background-color: white;
}

.slide .arrow {
    position: absolute;
    display: none;
    top: 225px;
    width: 50px;
    height: 50px;
    background-color: black;
    opacity: .5;
    font-size: 50px;
    text-align: center;
    z-index: 5;
}
.slide:hover .arrow {
    display: block;
}
.slide .arrow#next {
    right: 0;
}
.slide .arrow#pre {
    left: 0;
}
.slide .arrow:hover {
    color: white;
}
.category-menu {
    position: absolute;
    left: 120px;
    width: 190px;
    height: 500px;
    background-color: rgba(0,0,0,.5);
    z-index: 6;
}
.category-menu li {
    width: 170px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    margin: 1px 0;
    list-style-type: none;
}
.category-menu li>a, .category-menu li span {
    margin: 0 1px;
    color: white;
    font-size: 14px;
    font-family: "Microsoft YaHei UI", Serif;

}
.category-menu li i {
    color: white;
}
.category-menu li:hover {
    background-color: white;
}
.category-menu li:hover>a,.category-menu li:hover span,.category-menu li:hover i {
    color: #686868;
}
.submenu {
    display: none;
    position: absolute;
    left: 190px;
    top: 0;
    width: 869px;
    min-height: 500px;
    background-color: #F2F2F2;
}
.left-submenu {
    float: left;
    width: 650px;
    min-height: 500px;
    padding: 10px 0 10px 25px;
    background-color: white;

}
.category-menu li:hover .submenu {
    display: block;
}
.left-submenu-desc {
    width: 650px;
    margin: 5px 0;
    line-height: 25px;
}

.left-submenu-desc, .left-submenu-desc h2, .left-submenu-text {
    float: left;
}
.left-submenu-desc h2 {
    display: inline-block;
    width: 90px;
    font-size: 14px;
    letter-spacing: 4px;
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    text-justify: inter-ideograph;
}
.left-submenu-desc h2:after {
    content: "";
    display: inline-block;
    width: 100%;
}
.left-submenu-text {
    width: 530px;
    margin-left: 15px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #E8E8E8;
}
.left-submenu-text a {
    color: #686868;
    font-size: 14px;
    margin-right: 10px;
    white-space: nowrap;
    font-family: "Microsoft YaHei UI", Serif;
}
.left-submenu-text a:hover {
    color: #FF0036;
}
.right-submenu {
    float: right;
    width: 174px;
}
.right-submenu-top {
    float: right;
    width: 174px;
    padding: 10px;
}
.right-submenu-top img {
    display: block;
    float: left;
    width: 85px;
    margin: 1px;
    background-color: white;
}
.right-submenu-bottom {
    float: right;
    padding-top: 20px;
}
.right-submenu-bottom img {
    width: 194px;
}